*{
    margin:0;
    padding:0;

}


/* home */
.logo{
    margin-bottom: 2rem;
    display: inline-block;
}


.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
   
  }
.left-side{
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.right-side{
    position: relative;
    
    left: 55%;
}

.input-mail{
    border-radius: 10px;
}
.arrow{
    border-radius: 10px;
}
/* Footer */
footer{
    margin-top: 3rem;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}